/* admin.css */

body {
    font-family: Arial, sans-serif;
    background-color: #FAEDCD;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #E6CCB2;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 250px;
    background-color: #E6CCB2;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    height: 100%;
    transition: transform 0.3s ease;
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #fce4a7;
}

.main {
    flex: 1;
    padding: 20px;
}

.card {
    background-color: #E6CCB2;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: -10px;
    box-shadow: 0 0 10px rgba(150, 108, 108, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    resize: none;
}

.file-input {
    display: none;
}

.custom-file-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #6d6d6d;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.custom-file-button:hover {
    background-color: #424242;
}

.file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #666;
}

.file-name::before {
    content: "Seleziona file: ";
    font-size: 16px;
    color: #333;
}

/* Media query per la barra laterale responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-250px);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1000;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
    }

    .main {
        padding: 20px 40px;
    }
}