/* Stile per il corpo della pagina */
body {
    background-color: #E6CCB2;
    margin: 0;
    font-family: sans-serif;
    font-size: medium;
    padding: 50px 50px;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    margin: 10px;
}



h1, p {
    font-family: sans-serif;
    
}






/* Stile per il contenitore principale della home */
.home-container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    padding: 20px 0;
}

.rows-box {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Stile per la riga 1 */
.rows-1 {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* Stile per il contenitore delle immagini */
.image-container {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productImage {
    border-radius: 10px;
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-out;
}



.product-box {
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-box h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.product-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.product-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-box + .product-box {
    margin-left: 20px;
}

