body {
    background-color: #E6CCB2;
    margin: 0;
    font-family: sans-serif;
    font-size: medium;
    padding: 50px 50px;
}



/* Main content */
.main-page {
    padding: 20px;
}

/* Product list */
.main-home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.main-product-item img.main-productImage {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.main-product-item p.main-product-name,
.main-product-item p.main-product-price {
    color: #666;
}

.main-product-item button.main-add-to-cart {
    background-color: #E6CCB2;
    border: 1px solid black; /* Simplified border */
    border-right-width: 7px; /* Adjusted for consistency */
    border-bottom-width: 9px; /* Adjusted for consistency */
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.main-product-item button.main-add-to-cart:hover {
    background-color: #fce4a7;
    color: black;
    transform: scale(1.1);
}

.main-no-products {
    color: #666;
    text-align: center;
    margin-top: 20px;
}
