/* Reset globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 8px;
}

.product-item button {
    background-color: #E6CCB2;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #fce4a7;
}

@media (max-width: 768px) {
    .product-item {
        width: 100%;
    }
}
