html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: medium;
    /* background-color: #ffffff; */
    background-color: #E6CCB2;
    padding: 150px;
  
}

/* Header */
header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* Logo */
#cup {
    margin: -120px 15px -50px 10px;
    width: 100%;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Titles and Paragraphs */
h1, p {
    font-family: sans-serif;
    
}

/* Menu */
.menu {
    list-style: none;
    background-color: #FAEDCD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 10px;
    padding: 20px; /* Increase padding for larger clickable area */
    margin: 50px 50px;

}

.menu li {

    position: relative;
    display: inline;
    transition: transform 0.1s ease-out;
    padding: 5px 10px;
    font-size: 15px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    color: #9c633e;
    transform: scale(1.2);
    transition: color 0.2s ease-out;
}

#borderMenu{
    border-left: 1px solid black;
    height: 20px;
    margin: -3px 10px;
    margin-top: 3px;
}

/* Submenu */
.menu .submenu {
    display: none;
    position: absolute;
    /* background-color: #FAEDCD; */
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;

    transition: transform 0.3s; 
    top: 100%;
    left: 0;
}

.menu li:hover .submenu {
    display: block;
}

#accBox{
    font-size: 20px;
}


/* Stile del sottomenu */
.menu .submenu a {
    padding: 7px 2px 0px 0px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

/* Home Container */

.home-container {
    text-align: center;
    display: inline;
    padding: 50px;
    max-width: 100%;
    max-height: 100%;
}

/* Image Container */
.image-container {

    margin:50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.productImage {
    border-radius: 10px;
    max-width: 100%;
    width: 400px;
    height: auto;
    height: 300px;
    margin: 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-out;
    

}

.productImage:hover {
    transform: translateY(-10px); 
    transform: scale(1.2);
}

.home-header{
    font-family: sans-serif;
}


.user-interaction-box {
    font-size: 20px;
    list-style-type: none;  /* Remove bullet points */
    margin:     0;              /* Remove default margins */
    padding: 0;             /* Remove default padding */
    display: flex;          /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center;    /* Vertically center the items */
    gap: 20px;              /* Add space between items */
    margin-left: 200px;
}

.user-interaction-box li {
    display: inline;        /* Ensure list items are inline */
}

.user-interaction-box .searchBarBox {
    display: flex;          /* Use flexbox for search bar alignment */
    align-items: center;    /* Vertically center the search bar */

}

.searchBarBox .searchBar {
    padding: 5px;           /* Add some padding for better appearance */
    margin-right: 5px;      /* Space between input and search icon */
    margin-left: -15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 50px;
}


.searchBar:focus{
    outline: none;
}

.cart-icon a{
    font-size: larger;
    color: black;
    text-decoration: none;
}




/* FOOTER */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid black;


}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #9c633e;
}

.footer-section .social-icons a {
    display: inline-block;
    padding: 5px;
    background-color: #FAEDCD;;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: background 0.3s;
}

.footer-section .social-icons a i {
    color: #000000;
    font-size: 20px;
}

.footer-section .social-icons a:hover {
    background:#9c633e;
}

.footer-bottom {
    color:black;
    padding: 10px 0;
    font-size: 14px;
}